@import "compass","mobile-mixin";

body{
	display: flex;
	background: yellow;
	color: yellow;
	width: rem-calc(90);
}
.head{
	font-size: rem-calc(80);
}

@include rem-sprites("cur/*.png");

// div{
// 	@include rem-sprite("cur/*.png",lv1);
// }
